<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load forms_extras %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style type="text/css" title="currentStyle">
			@import "{{ MEDIA_URL }}css/pages.css";
			@import "{{ MEDIA_URL }}css/dataTable.css";
		</style>
		<style type="text/css" title="currentStyle">
			ul.sub_menu{
				display:none;
			}
		</style>
		{{ form.media }}
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript">

		$(document).ready(function() {
				$('#triagem_menu').click(function () {
					$('ul.sub_menu').slideToggle('medium');
				});
			});
		</script>

	</head>
	<body>
		<div id='content'>
			<div id='header'>
				<div id='branding'>&nbsp;</div>
				<div id='user-tools'>
					{% if user.is_authenticated %}
						Bem vindo, <strong>{{ user.username }}</strong>.
						{% if user.is_staff %}
							<a href='{{ url }}admin/'>Administração</a> /
						{% endif %}
						<a href='logout/'>Encerrar sessão</a>
					{% endif %}
				</div>
			</div>
			{% if user.is_authenticated %}
				<div class='usChoice'> Sua unidade atual: <u>{{ us_favorite|default:"Nenhuma unidade de saúde configurada (Entre em contato com o administrador)" }}</u> </div>
				<div class='msg'> Selecione uma ação </div>
				<div class='dashboard-container'>
					<div class='dashboard'>
						<ul>
						{% if triagem_form_list|length_is:"1" %}
							<li id='triagem_menu'> <a href='{{ url }}form/{{triagem_form_list|first|getId}}/0' >Adicionar Paciente (Triagem)</a> </li>
						{% else%}
							<li id='triagem_menu'> <a href='#' >Adicionar Paciente (Triagem)</a> </li>
								<ul  class="sub_menu">
									{% for f in triagem_form_list %}
									<li>
										<a href='{{ url }}form/{{ f.id }}/0'>
										{{ f.nome }}
										<div class='explanation'> <small> {{ f.descricao }} </small> </div>
										</a>
									</li>
									{% empty %}
									<li>
										<a href='#'>
										<div class='explanation'> <small> Nenhum formulário de triagem disponível </small></div>
										</a>
									</li>
									{% endfor %}
								</ul>
							{% endif %}
							<li> <a href='patients'>Acessar Formulários</a> </li>
							<!-- li> <a href='listPatients' >Listar Pacientes</a> </li -->
						</ul>
					</div>
				</div>
			{% else %}
				<div class='error-msg'> {{ msg }} </div>
				<div id='login-container'>
					<div id='login'>
						<form action="{{ url }}login/" method="post" accept-charset="utf-8">
							<fieldset>
								<legend> Acessar o sistema </legend>
								<div id='divLogin'>
									<label for="username">Nome do Usuário:</label>
									<input type="text" name="username" value="" id="username" />
								</div>
								<div id='divPassword'>
									<label for="password">Senha:</label>
									<input type="password" name="password" value="" id="password" />
								</div>
								<div id='divSubmit'>
									<input type="submit" value="Entrar">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</body>
</html>
