<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load forms_extras %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style type="text/css" title="currentStyle">
			@import "{{ MEDIA_URL }}css/pages.css";
			@import "{{ MEDIA_URL }}css/dataTable.css";
		</style>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.dataTables.js"></script>
		<script>
		$(document).ready(function() {
			oTable = $('#patient_table').dataTable({
				"fnDrawCallback": function ( oSettings ) {
					if ( oSettings.aiDisplay.length == 0 )
					{
						return;
					}
					var nTrs = $('#patient_table tbody tr');
					var iColspan = nTrs[0].getElementsByTagName('td').length;
					var sLastGroup = "";
					for ( var i=0 ; i<nTrs.length ; i++ )
					{
						var iDisplayIndex = oSettings._iDisplayStart + i;
						var sGroup = oSettings.aoData[ oSettings.aiDisplay[iDisplayIndex] ]._aData[0];
						if ( sGroup != sLastGroup )
						{
							var nGroup = document.createElement( 'tr' );
							var nCell = document.createElement( 'td' );
							nCell.colSpan = iColspan;
							nCell.className = "group";
							nCell.innerHTML = sGroup;
							nGroup.appendChild( nCell );
							nTrs[i].parentNode.insertBefore( nGroup, nTrs[i] );
							sLastGroup = sGroup;
						}
					}
				},
				"aoColumnDefs": [
					{ "bVisible": false, "aTargets": [ 0 ] },
					{ "bSortable": false, "aTargets": ['nonsortable']},
					{ "bSearchable": false, "aTargets": [ 0,2,3,4 ]}
				],
				"aaSortingFixed": [[ 0, 'asc' ]],
				"aaSorting"     : [[ 1, 'asc']],
				"sPaginationType": "full_numbers",
				"oLanguage" : {
					"sProcessing":   "Processando...",
					"sLengthMenu":   "Mostrar _MENU_ registros",
					"sZeroRecords":  "Não foram encontrados resultados",
					"sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
					"sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
					"sInfoFiltered": "(filtrado de _MAX_ registros no total)",
					"sInfoPostFix":  "",
					"sSearch":       "Busca pelo nome do paciente:",
					"sUrl":          "",
					"oPaginate": {
						"sFirst":    "Primeiro",
						"sPrevious": "Anterior",
						"sNext":     "Seguinte",
						"sLast":     "Último"
					}
				}
			});
		} );

		</script>
	</head>
	<body>
		<div id='content'>
			<div id='header'>
				<div id='branding'>&nbsp;</div>
				<div id='user-tools'>
					{% if user.is_authenticated %}
						Bem vindo, <strong>{{ user.username }}</strong>.
						{% if user.is_staff %}
							<a href='{{ url }}admin/'>Administração</a> /
						{% endif %}
						<a href='{{url}}logout/'>Encerrar sessão</a>
					{% else %}
						<a href='{{url}}admin/'>Administração</a>
					{% endif %}
				</div>
			</div>
			{% block content %}
			{% if user.is_authenticated %}
			<!-- Authenticate account menu -->
				<div id='maincontent'>
					<div id='divPatientTable'>
						<table id='patient_table' class='display'>
							<thead>
							<tr>
								<th> Unidade Saúde </th>
								<th> Nome do Paciente </th>
								<th> Data do Nascimento</th>
								<th> Nome da Mãe </th>
								{% for f in forms_list%}
									<th class='nonsortable'> {{ f.nome }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for p in patient_list  %}
							<tr>
								<td>  {{ patient_us|hash:p.id }} </td>
								<td>  {{ p.nome }} </td>
								<td>  {{ p.data_nascimento }} </td>
								<td>  {{ p.nome_mae }} </td>
								{% for f in forms_list %}
									<td>
										{% if f.permitir_insercao_multipla or not f.id in patient_fichas|hash:p.id %}
											{% if  f.tipo.nome != 'Triagem' %}
												<a href='{{ url }}form/{{ f.id }}/{{ p.id }}/'>
													<img src='{{ MEDIA_URL }}/images/ed_InsertForm_n.gif' class='insertComment icon'/>
												</a>
											{% else %}
												<img src='{{ MEDIA_URL }}/images/cross.png' class='icon'/>
											{% endif %}
										{% endif %}
										{% if f.id in patient_fichas|hash:p.id %}
											<a href='{{ url }}registers/{{ f.id }}/{{ p.id }}/'>
												<img src='{{ MEDIA_URL }}/images/icon-view-eye.gif' class='viewReport icon' target='_blank'/>
											</a>
											{% if f.tipo.nome == "Triagem" and 'NeuralTB' in f.nome %}
												<a href='{{ url }}art/{{ f.id }}/{{p.id}}'>
													<img src='{{MEDIA_URL }}/images/traffic_light.png' class='viewReport icon' target='_blank'/>
												</a>
											{% endif %}
										{% endif %}
									</td>
								{% endfor %}
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
			{% endblock %}
			</div>
		</div>
	</body>
</html>
